JWT_SECRET=secretKey
TOKEN_EXPIRATION_TIME=30m

DB_USERNAME=root
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_NAME=nestjs
DB_PORT=3306
DB_DOCKER_PORT=3308
DB_HOST=localhost
DB_DIALICT=mysql

#LOGGING
LOGGING_DIR=logs
ERROR_LOG_PATH=error.log
INFO_LOG_PATH=info.log

PORT = 3000
